<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    수정자를 통한 의존성 주입-->
<!--    생성자를 통한 의존성 주입도 적용되는지 테스트 해보기-->

<!--    <bean id="connectionMaker" class="springbook.user.dao.DConnectionMaker"/>-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:tcp://localhost:9092/~/toby"/>
        <property name="username" value="hlion17"/>
        <property name="password" value="1234"/>

    </bean>

    <bean id="userDao" class="springbook.user.dao.UserDaoJdbc">
<!--        <property name="connectionMaker" ref="connectionMaker"/>-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--UserServiceImpl 빈 등록, UserDao DI 주입-->
    <!-- 타깃 -->
    <bean id="userServiceImpl" class="springbook.user.service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="userLevelUpgradePolicy" ref="userLevelUpgradePolicy"/>
    </bean>

    <!-- 데코레이터 -->
<!--    <bean id="userService" class="springbook.user.service.UserServiceTx">-->
<!--        <property name="transactionManager" ref="transactionManager"/>-->
<!--        <property name="userService" ref="userServiceImpl"/>-->
<!--    </bean>-->

    <bean id="userService" class="springbook.factorybean.TxProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager" />
        <property name="pattern" value="upgradeLevels" />
        <property name="target" ref="userServiceImpl" />
        <property name="serviceInterface" value="springbook.user.service.UserService" />
    </bean>

    <bean id="userLevelUpgradePolicy" class="springbook.user.policy.UserLevelUpgradePolicyImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="message" class="springbook.factorybean.MessageFactoryBean">
        <property name="text" value="Factory Bean" />
    </bean>

    <bean id="coreDao" class="complex.module.CoreDaoImpl"></bean>

    <bean id="coreServiceTarget" class="complex.module.CoreServiceImpl">
        <property name="coreDao" ref="coreDao" />
    </bean>

    <bean id="coreService" class="springbook.factorybean.TxProxyFactoryBean">
        <property name="target" ref="coreServiceTarget" />
        <property name="pattern" value="" />
        <property name="transactionManager" ref="transactionManager"/>
        <property name="serviceInterface" value="complex.module.CoreService"/>
    </bean>

</beans>